.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

ul{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}

.head{
    font-size: 28px;
    text-align: center;
    font-weight: 800;
}

.but{

    background-color: white;
    width: 244px;
    height: 57px;
    color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    border-style: solid ;
    font-family: inherit;
}


.banner{
    background-image: url(assets/herobg.png);
    height: 652px;
    margin: 36px 0px 74px 0px;
    
}

.banner-title{

font-weight: 800;
font-size: 48px;
color: #0D1321;

}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #0D1321;
}

.banner-content{
    
    text-align: center;
    
   
    padding: 26px 221px 45px 221px;
}

.banner-button{

    background-color: #0D1321;
    width: 244px;
    height: 65px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    border-style: solid ;
    font-family: inherit;
}

.about-1{

    margin: 0px 152px 122px 148px;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}

.about-1-1{
    
    margin: 80px 97px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

}

.about-1-1-1{

    margin: 0px 47px 48px 47px;
    
    text-align: center;

}

.about-1-1-1-title{

     font-size: 32px;
     font-weight: 800;
     
}

.about-1-title{

    font-weight: bold;
    font-size: 24px;
}

.about-1-but{
    height: 47px;
    width: 171px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: inherit;
    border-style: solid;
}

/* -------------------------------- */

.about-1-1-2{
    margin: 0px 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.about-1-1-2-all{
    margin: 48px ;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    
}

.about-1-1-2-all-1{
    text-align: left;
    margin: 10.5px 0px;
}

.about-1-1-2-all-img{

    margin: 10.5px 0px;
}

/* ----------------------------------- */

.about-1-1-3{
    
    
    margin: 0px 48px;
    
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.about-1-1-3-all{
    margin: 48px ;
    display: flex;
    justify-content: space-between;
    gap: 100px;

    
}

.about-1-1-3-all-1{
    text-align: left;
    margin: 10.5px 0px;

    
    
}

.about-1-1-3-all-img{
    margin: 10.5px 0px;
     

}

/* ----------------------------------- */



.about-1-1-4-all{
    margin: 48px ;
    display: flex;
    justify-content: space-between;
    gap: 133px;
    
    
}

.about-1-1-4-all-1{
    text-align: left;
    margin: 10.5px 0px;
}

.about-1-1-4-all-img{

    margin: 10.5px 0px;
}

.about-1-1-4{
 
    
        margin: 0px 48px;
    
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

/* -------------------------------- */
.video-1{

margin: 0px 152px 151px 148px;
}

.video-1-1{
    margin: 0px 144px 48px 144px;
    text-align: center;
}

.video-2{
   
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

}

.video-2-1{
   
    
    margin: 32px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    
   
   
}


/* -------------------------------------- */

.about-2{

    margin: 0px 150px 111px 150px;

}

.about-2-1{
    text-align: center;
    margin: 0px 97px 48px 97px;
}

.about-2-2{
    /* margin: 0px 150px 111px 150px; */
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.about-learn{
    color: black;
}

.about-2-2-1{
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
}

.about-2-2-1-all{
    margin: 40px;
}

.about-2-2-2{

    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
}

.about-2-2-2-all{
    margin: 40px;
}

.about-2-2-3{
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
}

.about-2-2-3-all{
    margin: 40px;
}

/* ------------------------------------- */

.about-3{

margin: 0px 150px 49px 150px;
}


.about-3-1{
    text-align: center;
    margin: 0px 97px 48px 97px;
}

.about-3-2-1{
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    gap: 24px;
    align-items: center;
    padding: 0px 0px 10.5px 0px;
    margin-bottom: 24px;
    
}

.about-3-3-1{
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    gap: 24px;
    align-items: center;
    padding: 0px 0px 10.5px 0px;
    justify-content: space-between;
    margin-bottom: 24px;
}


.about-3-4-1{
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    gap: 24px;
    align-items: center;
    padding: 0px 0px 10.5px 0px;
    
}


.about-4{
    margin: 49px 150px 80px 150px;
    /* text-align: center; */
    /* height: 313px; */
    /* width: 1140px; */

   
}
.about-4-1{
    
    /* margin: 49px 150px 80px 150px; */
    
    /* border: 1px solid rgba(13, 19, 33, 0.15); */
    border-radius: 16px;
    background: rgb(255, 255, 255);
    height: 313px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url(assets/handshake.jpg);
    align-items: center;
    padding: 64px 48px;
    
}

.about-4-1-1{
    margin: 64px 48px;
    /* padding: 64px 48px; */
    text-align: center;

}

.about-4-1-1-title{
    color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 700;
text-align: center;
}

.about-4-1-1-description{
    color: rgb(255, 255, 255);;
font-size: 16px;
font-weight: 400;
text-align: center;
}

.about-4-1-2{
    /* margin: 24px 0px 64px 0px; */
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    /* padding-bottom: 64px; */
    padding: 0px 180px;

    
    
}
.about-4-1-2-input{
    height: 57px;
    width: 548px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
text-align: center;
font-family: inherit;
}

.about-4-1-2-button{
    height: 57px;
    width: 120px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
font-size: 20px;
font-weight: 800;
text-align: center;
font-family: inherit;

background: rgb(255, 255, 255);
}


/* --------------footer----------------- */

#footer{
    border-radius: 16px;
  
background: rgba(13, 19, 33, 0.03);
}

.footer-text{
font-weight: 600;
font-size: 20;

}
.footer-1{
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
    gap: 526.99px;
}

.footer-link {
    
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}